
header {
  height: 80px;
}

.hero {
  background-color: lightgray;
  color: white;
  padding: 20px 40px;
  font-family: helvetica;
}

.big-heading {
  font-size: 40px;
}

p { font-size: 20px; }

.green-button {
  background-color: green;
  color: white;
  border: 0;
  padding: 20px;
}
